Database name check fails on default configuration

Greetings.  I looked at the currently open and now closed issues and I don't think any of them address my problem directly.

**Problem**
My issue may or may not be related to Docker, but I am currently trying to run RITA with the docker-compose.yml found [here](https://github.com/activecm/rita/blob/master/docker-compose.yml) and the configuration file found [here](https://github.com/activecm/rita/blob/master/etc/rita.yaml).

To be specific, here is the (copied and modified) docker-file I am using where I've replaced "CONFIG" and "LOGS" with actual paths:

```
version: '3'

services:
  db:
    image: mongo:3.6
    volumes:
      - db:/data/db/

  rita:
    image: quay.io/activecm/rita:${VERSION:-latest}
    build: .
    links:
      # give db an alias of "localhost" so that RITA's default config works unchanged
      - db:localhost
    volumes:
      - /home/[user]/Downloads/tools/docker/rita/config.yaml:/etc/rita/config.yaml:ro
      - /usr/local/zeek/logs/:/logs:ro

volumes:
  db:
```
where "[user]" is my username.

Here is the (copied) configuration file I am using:

```
# This section configures the connection to the MongoDB server and the database name to use
MongoDB:
    # See https://docs.mongodb.com/manual/reference/connection-string/
    ConnectionString: mongodb://localhost:27017
    # Example with authentication. Be sure to change the AuthenticationMechanism as well.
    # ConnectionString: mongodb://username:password@localhost:27017

    # Accepted Values: null, "SCRAM-SHA-1", "MONGODB-CR", "PLAIN"
    # Since Mongo version 3.0 the default authentication mechanism is SCRAM-SHA-1
    AuthenticationMechanism: null

    # The time in hours before RITA's connection to MongoDB times out. 0 waits indefinitely.
    SocketTimeout: 2

    # For encrypting data on the wire between RITA and MongoDB
    TLS:
        Enable: false
        #If set, RITA will verify the MongoDB certificate's hostname and validity
        VerifyCertificate: false
        #If set, RITA will use the provided CA file instead of the system's CA's
        CAFile: null

    # This database holds information about the procesed files and databases.
    MetaDB: MetaDatabase

Rolling:
    # This is the default number of chunks to keep in rolling databases.
    # This only is used if the --numchunks command argument isn't supplied.
    DefaultChunks: 24

LogConfig:
    # LogLevel
    # 3 = debug
    # 2 = info
    # 1 = warn
    # 0 = error
    LogLevel: 2

    # LogPath is the path for Rita's logs. Make sure permissions are set accordingly.
    # Logs will only be written here if LogToFile is true
    RitaLogPath: /var/lib/rita/logs

    LogToFile: true
    LogToDB: true

UserConfig:
    # Number of days before checking for a new version of RITA.
    # A value of zero here will disable checking.
    UpdateCheckFrequency: 14

Filtering:
    # These are filters that affect the import of connection logs. They
    # currently do not apply to dns or http logs.
    # A good reference for networks you may wish to consider is RFC 5735.
    # https://tools.ietf.org/html/rfc5735#section-4

    # Example: AlwaysInclude: ["192.168.1.2/32"]
    # This functionality overrides the NeverInclude and InternalSubnets
    # section, making sure that any connection records containing addresses from
    # this range are kept and not filtered
    AlwaysInclude: []

    # Example: NeverInclude: ["255.255.255.255/32"]
    # This functions as a whitelisting setting, and connections involving
    # ranges entered into this section are filtered out at import time
    NeverInclude:
     - 0.0.0.0/32          # "This" Host           RFC 1122, Section 3.2.1.3
     - 127.0.0.0/8         # Loopback              RFC 1122, Section 3.2.1.3
     - 169.254.0.0/16      # Link Local            RFC 3927
     - 224.0.0.0/4         # Multicast             RFC 3171
     - 255.255.255.255/32  # Limited Broadcast     RFC 919, Section 7
     - ::1/128             # Loopback              RFC 4291, Section 2.5.3
     - fe80::/10           # Link local            RFC 4291, Section 2.5.6
     - ff00::/8            # Multicast             RFC 4291, Section 2.7

    # Example: InternalSubnets: ["10.0.0.0/8","172.16.0.0/12","192.168.0.0/16"]
    # This allows a user to identify their internal network, which will result
    # in any internal to internal and external to external connections being
    # filtered out at import time. Reasonable defaults are provided below
    # but need to be manually verified against each installation before enabling.
    InternalSubnets:
     - 10.0.0.0/8          # Private-Use Networks  RFC 1918
     - 172.16.0.0/12       # Private-Use Networks  RFC 1918
     - 192.168.0.0/16      # Private-Use Networks  RFC 1918

BlackListed:
    Enabled: true
    # These are blacklists built into rita-blacklist. Set these to false
    # to disable checks against them.
    myIP.ms: true
    MalwareDomains.com: true
    MalwareDomainList.com: true

    # This is the name of the database which will be created as a master list of
    # blacklisted ips and hostnames by rita-blacklist
    BlacklistDatabase: "rita-bl"

    # These are custom blacklists that you may define. They are lists of either
    # file paths or urls. These custom blacklists are expected to be simple,
    # line separated text documents containing a list of blacklisted entries.

    # Example: CustomIPBlacklists: ["$HOME/.rita/myIPBlacklist.txt"]
    # myIPBlacklist.txt would look like this:
    # 192.168.0.1
    # 10.10.174.1

    # Lists containing both IPv4 and IPv6 addresses are acceptable
    CustomIPBlacklists: []
    # Lists containing hostnames, domain names, and FQDNs are acceptable
    CustomHostnameBlacklists: []

Beacon:
    Enabled: true
    # The default minimum number of connections used for beacons analysis.
    # Any two hosts connecting fewer than this number will not be analyzed.
    # 20 was chosen as it is a little bit less than once per hour in a day,
    # and allows for any packet loss that could occur.

    # If you choose a lower value, this will significantly increase both
    # the analysis time and the number of false positives. You can safely
    # increase this value to improve performance if you are not concerned
    # about slow beacons.
    DefaultConnectionThresh: 20

DNS:
    Enabled: true

UserAgent:
    Enabled: true

Strobe:
    # This sets the maximum number of connections between any two given hosts that are stored.
    # Connections above this limit will be deleted and not used in other analysis modules. This will
    # also trigger an entry in the strobe module. A lower value will reduce import & analysis time and
    # hide more potential false positives from other modules. A higher value will increase import &
    # analysis time, increase false positives, but reduce the risk of false negatives.
    # Recommended values for this setting are:
    #    86400 - One connection every second for 24 hours
    #   250000 - (Default) Good middle of the road value
    #   700000 - Safe max value that is unlikely to cause errors
    # The theoretical limit due to implementation limitations is ~1,048,573
    # but in practice timeouts have occurred at lower values.
    ConnectionLimit: 250000
```

Running the CLI command: `docker-compose run --rm rita import /logs /usr/local/zeek/logs/current/` yields the following output:

> Starting rita_db_1 ... done
> 
> 
> 	[!] database cannot contain the characters < /, \, ., ", *, <, >, :, |, ?, $ > as well as spaces or the null character

There are several databases by the looks of the configuration file, and "rita_db_1" looks like a default database name, but "_" is  not a forbidden character.

I am probably missing something (and I am new to Docker), but I would appreciate some help on what database name(s) RITA is complaining about.  Any ideas?

**RITA Version**

Running: `docker-compose run --rm rita -v` gives me:

> Starting rita_db_1 ... done
> rita version v3.1.1
> 

**Description of Hardware**

- Ryzen 7 2700x
- 32 GB of RAM
- ext4 (base Ubuntu 18 OS)

Thank you for your help and time.

Hi @CaptainMayotoast, thanks for providing all the right details! Here's the TL;DR:
I think the command you want to run is:
```
docker-compose run --rm rita import /logs CaptainMayotoastDataset
```

Background:

The rita import command is in the form of `rita import /path/to/logs databasename`. Your last argument was `/usr/local/zeek/logs/current/`. I'm not sure if that's what you intended to call your database, but Mongo doesn't let you give a database name with `/` in it. You could use `CaptainMayotoastDataset` like I did above or today's date `2020-01-18` or just replace the path separators with some other character like `usr_local_zeek_logs_current`.

> There are several databases by the looks of the configuration file, and "rita_db_1" looks like a default database name, but "_" is not a forbidden character.

`rita_db_1` is the default name for the Mongo database Docker container. If you have a reason there are ways to change this, but it isn't something you normally have to worry about at all as this is not something that rita needs to know.

@ethack thanks for the quick reply!  I apologize that I missed that detail.  It works as I expect now. :+1: 